.featured-outer-div {
   width: 100%;
}
.featured-inner-div {
   width: 100%;
   position: relative;
}
.featured-inner-div-padded {
   position: relative;
   width: 100%;
   margin: 0 auto;
}
.featured-inner-div-padded img {
   width: 100%;
   object-fit: cover;
}
.featured-inner-div-padded iframe {
   width: 100vw;
   border: none;
}
.featured-video {
   height: 100%;
   width: 100%;
}
.featured-video-details {
   position: absolute;
   top: 25%;
   left: 5%;
   color: #fff;
   width: 40%;
   z-index: 10;
}
.featured-video-details p {
   transition: all 0.3s ease-in-out;
}
.featured-video-details img {
   width: 5rem;
   margin-bottom: 1rem;
}
.featured-video-details h2 {
   margin-bottom: 1rem;
   font-weight: 700;
   font-size: 2.5rem;
}
.featured-video-details p {
   font-weight: 400;
   line-height: 1.8rem;
}
.buttons-div {
   margin-top: 1.5rem;
   width: 100%;
   display: flex;
   align-items: center;
}
.buttons-div button {
   padding: 0 1.5rem;
   height: 3rem;
   border: none;
   margin-right: 1rem;
   font-weight: 700;
   border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}
.icon-size {
   font-size: 1.5rem;
   margin-right: 0.3rem;
}
.play-button {
   background-color: red;
   color: #fff;
}
.more-info-button {
   background-color: rgba(199, 199, 199, 0.5);
   color: #fff;
}
