/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 0px) and (max-device-width: 480px) {
   /* Styles */
   html {
      font-size: 9px;
   }
   .left-side {
      position: relative;
   }
   .browse {
      display: flex;
      align-items: flex-start;
   }
   .menu-div {
      position: absolute;
      top: 3.2rem;
      right: 15%;
      background-color: #000;
      padding: 1rem;
      cursor: pointer;
   }
   .menu-div ul {
      display: block;
   }
   .menu-div li {
      margin-bottom: 1rem;
   }

   .browse p {
      margin-right: 0.2rem;
   }
   .drop-icon {
      font-size: 1.5rem;
   }
   .right-side {
      width: 60%;
   }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 480.1px) and (max-device-width: 768px) {
   /* Styles */
   html {
      font-size: 10px;
   }
   .browse {
      display: flex;
      align-items: flex-start;
   }
   .left-side {
      position: relative;
   }
   .menu-div {
      position: absolute;
      top: 3.3rem;
      left: 18%;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 1rem;
      cursor: pointer;
      width: auto;
   }
   .menu-div ul {
      display: inline-block;
   }
   .menu-div li {
      margin-bottom: 1rem;
   }
   .browse p {
      margin-right: 0.2rem;
   }
   .drop-icon {
      font-size: 1.5rem;
   }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 768.1px) {
   /* Styles */
   html {
      font-size: 14px;
   }
}

/* Large screens ----------- */
@media only screen and (min-width: 1280px) {
   /* Styles */
   html {
      font-size: 17px;
   }
}
